<div
    *ngIf="showModal"
    ng-init="getPost()"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!-- <div class="relative w-auto my-6 mx-auto max-w-3xl"></div> -->
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
            <!--header-->
            <div
                class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
            >
                <h3 class="text-3xl font-semibold">{{ modalTitle }}</h3>
                <button
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleModal()"
                >
                    <span
                        class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
                    >
                        ×
                    </span>
                </button>
            </div>
            <!--body-->
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="relative p-6 flex-auto">
                    <!-- Regular Input -->
                    <div
                        class="relative flex w-full flex-wrap items-stretch mb-3"
                    >
                        Name
                        <input
                            type="text"
                            [readonly]="isDelete"
                            formControlName="name"
                            placeholder="Regular Input"
                            class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                        />
                    </div>
                    <div
                        class="relative flex w-full flex-wrap items-stretch mb-3"
                    >
                        Content
                        <!-- <div *ngIf="f.content.errors.required">
                            Content is required
                        </div> -->
                        <input
                            type="text"
                            [readonly]="isDelete"
                            formControlName="content"
                            placeholder="Regular Input"
                            class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                        />
                    </div>
                </div>
                <!--footer-->
                <div
                    class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
                >
                    <button
                        class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button"
                        (click)="toggleModal()"
                    >
                        Close
                    </button>
                    <button
                        class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="submit"
                        [disabled]="loading"
                    >
                        <span
                            *ngIf="loading"
                            class="spinner-border spinner-border-sm mr-1"
                        ></span>
                        {{
                            isDelete
                                ? 'Confirm'
                                : selectedId
                                ? 'Update Post'
                                : 'Save Post'
                        }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
